body {
  margin     : 0;
  padding    : 0;
  background : #1F1E1F;
}

header {
  display    : block;
  width      : auto;
  padding    : 30px;
  background : #1f1e1f;
  text-align : center;
}

header img {
  position    : absolute;
  top         : 20px;
  left        : 5%;
  width       : 100px;
  height      : 100px;
  margin-left : -50px;
  /* Half the width */
}

footer {
  padding    : 25px;
  background : #9013fe;
}

footer p {
  margin : 0;
}

h1,
h2 {
  font-family : "Renner*",
                sans-serif;
}

h1 {
  width      : 100%;
  color      : #FFF;
  text-align : center;
  font-size  : 2em;
}

h2 {
  width          : 70%;
  padding-top    : 30px;
  padding-bottom : 20px;
  color          : white;
  border-bottom  : 1px solid white;
  text-align     : left;
  font-size      : 22px;
  font-weight    : 100;
  line-height    : 24px;
}

h1 a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 5px;
  border: 2px solid white;
  background-color: #606060
}
li,
p,
ul {
  width          : 100%;
  color          : rgba(255, 255, 255, 0.95);
  text-align     : justify;
  font-family    : "Renner*",
                   sans-serif;
  font-size      : 18px;
  line-height    : 1.3em;
  letter-spacing : 0.015em;
}

.tldr {
  padding    : 10px 5px;
  background : #9013fe;
}

p.tldr {
  width          : auto;
  font-size      : 1.125rem;
  line-height    : 1.5;
  letter-spacing : 0.015em;
}

.container {
  padding         : 80px 40px;
}

.content {
  width: 80%;
}

.title {
  align-self : center;
}

.hl {
  border: white 3px;
  border-style: solid;
  border-radius: 2px;
  margin: 30px 0px;
}
