body {
  margin     : 0;
  padding    : 0;
  background : #141E30;
  background : -webkit-linear-gradient(
                 -45deg,
                 #35577D,
                 #141E30
               );
  background : linear-gradient(
                 -45deg,
                 #1f1e1f,
                 #111111
               );
}

header {
  display         : flex;
  width           : auto;
  padding         : 30px;
  background      : #1f1e1f;
  align-items     : center;
  justify-content : space-around;
}

header img {
  max-height : 100px;
  float      : left;
}

footer {
  padding    : 25px;
  background : #9013fe;
}

footer p {
  margin : 0;
}

h1,
h2 {
  font-family : "Renner*",
                sans-serif;
}

h1 {
  width      : 100%;
  color      : #FFF;
  text-align : center;
  font-size  : 2em;
}

h2 {
  width          : 70%;
  padding-bottom : 30px;
  color          : rgba(255, 255, 255, 0.5);
  border-bottom  : 1px solid rgba(255, 255, 255, 0.5);
  text-align     : left;
  font-size      : 22px;
  font-weight    : 100;
  line-height    : 24px;
}

li,
p,
ul {
  width          : 100%;
  color          : AliceBlue;
  text-align     : justify;
  font-family    : "Renner*",
                   sans-serif;
  font-size      : 18px;
  line-height    : 1.3em;
  letter-spacing : 0.015em;
}

.tldr {
  padding    : 10px 5px;
  background : #9013fe;
}

p.tldr {
  width          : auto;
  font-size      : 1.25rem;
  line-height    : 1.5;
  letter-spacing : 0.015em;
}

.content {
  flex-basis : 40%;
}

.spacer {
  display         : flex;
  align-items     : center;
  justify-content : center;
}

.container {
  display         : flex;
  padding         : 40px;
  align-items     : stretch;
  justify-content : space-around;
}

.vl {
  height        : 900px;
  border-left   : 6px solid white;
  border-radius : 5px;
}

.experiences {
  order : 2;
}
